﻿
<div class="app-bar-expand container-fluid shadow-2 bg-dark fg-white" data-role="appbar" data-expand-point="md">

    <a href="#" class="brand no-hover">
        <span class="text-bold">@*<img src="~/Images/nsia.png" style="height: 30px;" />*@ Insurancedirect.ng</span>
    </a>

    <ul class="app-bar-menu bg-dark fg-white ml-auto collapsed">
        <li><a href="/">Home</a></li>

        @*<li><a href="/policy/marine"><i class="fas fa-ship"></i> Marine</a></li>*@
        <li><a href="/policy/motor"><i class="fas fa-car"></i> Clock Motor</a></li>
        <li><a href="/policy/motor"><i class="fas fa-user"></i> Clock Life</a></li>
        <li><a href="/claims/"><i class="fas fa-car-crash"></i> Report a claim</a></li>

        <li><button onclick="location.href = '/Account/Login';" class="button success rounded"><i class="fas fa-lock"></i> Sign in</button></li>

    </ul>





</div>