﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insurancedirect.ng</title>

    <link href="~/css/metro-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="~/css/hover-min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <partial name="_Header" />



    <div>
        @RenderBody()


    </div>
    <footer class="footer-bg bg-gray fg-white">
        <div class="container">
            <div class="row py-8">
                <div class="cell-md-5">
                    @*<h2><img src="~/Images/nsia.png" style="height: 50px;" /> NSIA Micro insurance</h2>*@
                    <h2>Insurancedirect.ng</h2>
                    <ul class="list-group">
                        <li class="fg-white"><a class="fg-white" href="#">Motor policy</a></li>
                        <li class="fg-white"><a class="fg-white" href="#">Renew motor policy</a></li>
                        <li class="fg-white"><a class="fg-white" href="#">Marine certificate</a></li>
                        <li class="fg-white"><a class="fg-white" href="#">Print certificate</a></li>
                        </ul>
                </div>

           
            </div>




        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/metro.min.js"></script>
    <script src="~/js/typed.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @*<link href="~/SPA/toufiqElahySPA.css" rel="stylesheet" />
        <script src="~/SPA/toufiqElahySPA.js"></script>*@
    @*<script>
            $(function () {
                $('#toufiqElahy').toufiqSPA();
            })
        </script>*@


    @RenderSection("Scripts", required: false)

</body>
</html>
