﻿@model Insurancedirect.Models.LoginInfoVM

<div class="row">
    <div class="cell-md-8">
        <div style="border-top:5px solid lightgreen;" data-role="panel">
            <p class="text-leader2">Login Information</p>
            <hr />
            <div class="form-group">
                <label asp-for="Username" class="text-secondary"></label>
                <input asp-for="Username" class="form-control text-secondary" />
                <span asp-validation-for="Username" class="fg-red text-small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="text-secondary"></label>
                <input asp-for="Email" class="form-control text-secondary" />
                <span asp-validation-for="Email" class="fg-red text-small"></span>
            </div>
            <div class="row">
                <div class="cell-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="text-secondary"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="fg-red text-small"></span>
                    </div>
                </div>

                <div class="cell-md-6">
                    <div class="form-group">
                        <label asp-for="Confirmpassword" class="text-secondary">Confirm password</label>
                        <input type="password" asp-for="Confirmpassword" class="form-control" />
                        <span asp-validation-for="Confirmpassword" class="fg-red text-small"></span>
                    </div>
                </div>
            </div>
          
          
        </div>

    </div>
    <div class="cell-md-4 hidden-sm hidden-xs">
        <div style="border-top:3px solid brown;" data-role="panel">
            <div class="py-1 text-center">
             
                <img width="40" height="40" class="text-center" src="~/images/shield.png" />
            </div>
            <p class="text-secondary">
                
               Insurancedirect.ng portal is committed to protecting your privacy. Motor Third Party uses techniques to encrypt, safeguard, and secure your personal information. Our privacy policy explains the controls we have in place. Please fill out our registration form. Fields marked with an asterisk (*) are required. A valid email address is required for registration.
            </p>
        </div>

    </div>

</div>