﻿@model Insurancedirect.Models.MotorPartialVM

<div class="row">
    <div class="cell-md-6">
        <div class="form-group">
            <label asp-for="VehicleMake" class="text-secondary"><i class="fas fa-info-circle" data-role="hint" data-hint-text="If your vehicle is not listed here please select OTHER and type full vehicle name."></i> Vehicle make</label>
            <select id="VehicleMake" asp-for="VehicleMake" data-role="select" asp-items="@ViewBag.makes"> </select>

            <span asp-validation-for="VehicleMake" class="fg-red text-small"></span>
        </div>
    </div>
    <div class="cell-md-6">
        <div id="VehicleModel" class="form-group">
            <label asp-for="VehicleModel" class="text-secondary">Vehicle model</label>
            <select id="brand" asp-for="VehicleModel" asp-items="@(new SelectList(string.Empty, "Brand", "Brand"))"></select>
            <span asp-validation-for="VehicleModel" class="fg-red text-small"></span>
        </div>
        <div id="Other" class="form-group">
            <label asp-for="Other" class="text-secondary">Full vehicle name</label>
            <input asp-for="Other" class="form-control" />
            <span asp-validation-for="Other" class="fg-red text-small"></span>
        </div>
    </div>
</div>


<div class="form-group">
    <label asp-for="VehicleYear" class="text-secondary">Year</label>

    <select asp-for="VehicleYear" data-role="select" asp-items="@ViewBag.years"></select>
    <span asp-validation-for="VehicleYear" class="fg-red text-small"></span>
</div>

