﻿@model Insurancedirect.Models.Account.LoginVM

@{
    ViewData["Title"] = "Login";
}
<br />
<br />
<br />
<div style="background:#fafafa;" class="container">

    @*<h2 class="py-2">Create Motor Policy</h2>*@

    <div class="grid">
        <div class="row mx-14">

            <div class="cell-md-4">

                <h2 class="py-2">Login</h2>


                <div style="border-top:5px solid red;" data-role="panel">

                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-small fg-red"></div>

                        <div class="form-group">
                            <label asp-for="Email" class="text-secondary"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-small fg-red"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="text-secondary"></label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-small fg-red"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="LOGIN" class="button  rounded bg-red fg-white" />
                        </div>
                    </form>
                </div>
            </div>


            <div class="cell-md-6">
                <br />
                <br />
                <h2 class="py-2">Ready to get started?</h2>
                <p class="text-leader">Create, Renew Motor and marine Policies Online, Report a claim.</p>
                <p><i class="fas fa-check"></i> <span class="text-secondary">99.9% Platform uptime.</span> </p>
                <p><i class="fas fa-check"></i> <span class="text-secondary">Print certificates Easily.</span> </p>
                <p><i class="fas fa-check"></i> <span class="text-secondary">Report a claim conviniently.</span> </p>
            </div>


        </div>
    </div>
    <br />

</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}




@section Scripts {


}
