﻿
@{
    ViewData["Title"] = "Hopelife";
}

<br />
<br />
<br />
<div class="container">

    <h2 class="py-2">Hope Life Insurance Cover, Your Policy Dividends Assurance </h2>

    <p>See what makes Hope life cover the best for you.</p>
    <p></p>
    <a href="/Policy/Hopelife" class="button primary rounded">Get started</a>


</div>

<br />
<br />
<div style="background:#fafafa;" class="container">

    <div class="row rounded py-7">
        <div class="cell-sm-6">
            <div class="row">
                <div class="cell-sm-1 hvr-bob">
                    <img width="50" height="50" src="~/images/house.png" />
                </div>
                <div class="cell-sm-11 ">
                    <div class="py-2 hvr-bob">
                        <p class="text-leader2 text-bold fg-blue">Housing Options</p>
                        <p class="text-secondary">
                            HOPE (Home Ownership Protection Endeavour) is a life insurance policy that applies the benefits of a matured Life Insurance Cover towards the ownership of pre-selected housing options.
                        </p>
                    </div>
                </div>

                <div class="cell-sm-1 hvr-bob">
                    <img width="50" height="50" src="~/images/budget.png" />
                </div>
                <div class="cell-sm-11">
                    <div class="py-2 hvr-bob">
                        <p class="text-leader2 text-bold fg-blue">Economy</p>
                        <p class="text-secondary">
                            In an economy where the value of money is rapidly eroded by inflation, buying a life policy for a period into the future becomes an unknown quantity and a gamble. But life needs not be a gamble!
                        </p>
                    </div>
                </div>

                <div class="cell-sm-1 hvr-bob">
                    <img width="50" height="50" src="~/images/home-insurance.png" />
                </div>
                <div class="cell-sm-11">
                    <div class="py-2 hvr-bob">
                        <p class="text-leader2 text-bold fg-blue">HOPE</p>
                        <p class="text-secondary">
                            Bank on us with our convertible HOPE life Insurance Cover that guarantees the value of your life insurance benefits anchored on our various Home Ownership Options.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      
      
        <div style="margin-bottom:40px;" class="cell-sm-6 hvr-bob">
            <img class="rounded img-responsive shadow-2" src="~/images/h1.jpg" width="600" height="320" />
        </div>
    </div>
</div>
<br />
<div class="container py-7">
    <div data-role="accordion" data-one-frame="true" data-show-active="true">
        <div class="frame active">
            <div class="heading text-bold">What we offer</div>
            <div class="content">
                <div class="p-2">
                    Chose a life insurance cover ranging from 10 to 30 years of any sum assured from N5,000,000.00 to N35,000,000.00 and qualify for the following:
                    1. Sole Ownership of apartment types on offer
                    2. Joint Ownership of rentable apartments on offer
                    3. Death benefits to be paid to named beneficiaries upon death of insured before maturity of policy plan

                </div>
            </div>
        </div>
        <div class="frame active">
            <div class="heading text-bold">Additional benefits:</div>
            <div class="content">
                <div class="p-2">
                    1. Personal Accident Cover up to 25% of your Life Policy Balances
                    2. Health Insurance Cover  up to 5% of your chosen sum assured
                    3. Enjoy Tax benefits on your premium contributions
                    4. Get a FREE RELOADABLE Smart Card
                    -  to check your Premium balances
                    -  Cash Out your Matured / Surrendered Value
                    -  For your Health Insurance Services at our listed Health Insurance Service Providers
                    TARGET MARKET:

                    - Young Professionals
                    - Business men/women
                    - Artisans
                    - Young Married Couples
                    - Parents who want to be-quit homes to their Adult Children



                </div>
            </div>
        </div>
        <div class="frame">
            <div class="heading">Header 3</div>
            <div class="content">
                <div class="p-2">Bitter turkey can be made tasty by brushing with...</div>
            </div>
        </div>
    </div>
</div>

