﻿
@{
    ViewData["Title"] = "Dashboard";
}


<div style="background:#fafafa;" class="container">

    <br />
    <br />
    <br />
    <div class="row">
        <div class="cell-md-3 hidden-sm hidden-xs">
            <ul class="sidenav-m3">
                <li class="title"> Motor</li>
                <li class="active"><a href="#"><span class="fas fa-car"></span>Create Motor policy</a></li>
                <li class="stick-right bg-red"><a href="#"><span class="fas fa-printer"></span>Print Motor certificate</a></li>
                @*<li class="stick-left bg-green">
                    <a class="dropdown-toggle" href="#"><span class="mif-tree icon"></span>Sub menu</a>
                    <ul class="d-menu" data-role="dropdown" style="display: none;">
                        <li><a href=""><span class="mif-vpn-lock icon"></span> Subitem 1</a></li>
                        <li><a href="">Subitem 2</a></li>
                        <li><a href="">Subitem 3</a></li>
                        <li><a href="">Subitem 4</a></li>
                        <li class="disabled"><a href="">Subitem 5</a></li>
                    </ul>
                </li>*@
                <li class=""><a href="#">Thread item</a></li>
                <li class="disabled"><a href="#">Disabled item</a></li>

                <li class="title">Title 2</li>
                <li><a href="#">Other Item 1</a></li>
                <li><a href="#">Other item 2</a></li>
                <li><a href="#">Other item 3</a></li>
            </ul>
        </div>

        <div class="cell-md-9">
            <div style="border-top:5px solid red;" data-role="panel">
                jahjksshakjshajs jhasjhassjhs ajahsjasjhs
            </div>
        </div>
    
</div>
    </div>