﻿@{
    ViewData["Title"] = "Home Page";
}



<style>
    /*.jumbotron-codelines {
        color: rgba(255,255,255,0.6);
        background: url(/Images/home_slider_4.jpg);
        background-position: center 10%;
        background-size: cover;
    }*/

    .jumbotron-codelines {
        background: url(/Images/home_slider_4.jpg);
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-size: auto auto, auto auto;
        background-position: center 10%;
        background-size: cover;
        color: rgba(255,255,255,0.6);
    }
</style>
<div class="jumbotron-codelines" id="hero-wrapper">
    <div class="container">
        <br />
        <div class="grid">
            <div class="row">
                <div class="cell-md-6">
                    <p style="padding-top: 100px;" class="text-leader">
                        <h2 class="fg-white text-bold">Insurancedirect.ng @*<span id="type1"></span>*@</h2>
                    </p>
                    <p class="fg-gray text-leader2">
                        Bnak on us with our Insurance covers that guarantees you the value of Full Insurance benefits.
                    </p>
                    <p>
                        <a href="/Account/Register" class="button success rounded">Request a cover</a> <span>| <a href="/Account/Login" class="button success rounded"><i class="fas fa-lock"></i> Sign in</a></span>
                    </p>
                    <br />
                  
                </div>
            </div>
        </div>
       

       
      
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />



    </div>


</div>

<br />
<section class="">
    <div class="container text-center">
        @*<h1 class="text-center my-4">A better way to manage your policies all in one place.</h1>*@
        <h1 class="text-center my-4">Get Yourself Covered in minutes!</h1>
        <br />
        <div class="row my-6">
            <div class="cell-md-6 hvr-bob">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-dark fg-white">The Clock</div>
                    <div class="info-panel-content">
                        <div class="m-10"><span class="fas fa-car fa-5x fg-green"></span></div>
                        <span class="text-leader2">Dump your worries on us today, buy The Clock , your RELOADABLE Mobile Auto Policy that gives you the flexibility of insuring your car for short periods of time , ranging from 1 hour to 1 year. </span>
                    </div>
                    <div class="info-panel-footer">
                        <a href="/Motor/Create_certificate" class="button large success rounded">Get started</a>
                    </div>
                </div>
            </div>
            <div class="cell-md-6 hvr-bob">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header bg-red fg-white">Hope Life</div>
                    <div class="info-panel-content">
                        <div class="m-10"><span class="fas fa-heartbeat fa-5x fg-steel"></span></div>
                        <span class="text-leader2">Bank on us with our convertible HOPE life Insurance Cover that guarantees the value of your life insurance benefits anchored on our various Home Ownership Options.</span>
                    </div>
                    <div class="info-panel-footer">
                        <a href="/Marine/renewcertificate" class="button large  secondary rounded"></a>
                    </div>
                </div>
            </div>
            

        </div>

    </div>
</section>
<br />

<section style="background:#fafafa;" class="">
    <div class="container text-center">
        @*<h1 class="text-center my-4">A better way to manage your policies all in one place.</h1>*@
        <h1 class="text-center py-6">Checkout our other Insurance Products</h1>
     

    </div>
    <br />
    <br />
</section>

<br />
<section class="">
    <div class="container text-center">
        @*<h1 class="text-center my-4">A better way to manage your policies all in one place.</h1>*@
        <h1 class="text-center py-6">Testimonials</h1>
        <br />
        

    </div>
</section>
<br />
<br />
@section scripts {
    <script>
        var type1 = new Typed('#type1', {
            strings: ['Motor Insurance', 'Marine Insurance', 'Report a claim', 'Made easy!'],
            typeSpeed: 60,
            backSpeed: 20,
            fadeOut: false,
            loop: true
        });

    </script>

}

