﻿@model Insurancedirect.Models.Policy.MotorVM

<br />
<br />
<br />
<div style="background:#fafafa;" class="container">

    <h2 class="py-2">Create Motor Policy</h2>
    <div data-role="stepper" data-steps="3" data-step="1"></div>
    <form asp-action="Motor">
        <div asp-validation-summary="ModelOnly" class="fg-red text-small"></div>


        <div class="grid">

            @* logininfoVIEW PARTIAL *@

            <partial name="LoginInfoViewPartial" for="Logininfo" />

            <div class="row py-2">
                <div class="cell-md-8">
                    <div style="border-top:5px solid orange;" data-role="panel">
                        <p class="text-leader2">Your personal Information</p>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Policyholdertype" class="text-secondary"> Policy Holder Type</label>
                            <select class="text-secondary" asp-for="Policyholdertype" id="policyholder" data-role="select">
                                <option selected>Private</option>

                                <option>Corporate</option>
                            </select>

                            <span asp-validation-for="Policyholdertype" class="fg-red text-small"></span>
                        </div>

                        <div id="title" class="form-group">
                            <label asp-for="Title" class="text-secondary"></label>
                            <select class="text-secondary" asp-for="Title" data-role="select">
                                <option selected>Mr</option>
                                <option>Mrs</option>
                                <option>Dr.</option>
                                <option>Chief</option>
                                <option>HRM</option>
                                <option>Prof.</option>
                            </select>

                            <span asp-validation-for="Title" class="fg-red text-small"></span>
                        </div>
                        <div id="companyname" class="form-group">
                            <label asp-for="Companyname" class="text-secondary">Company name</label>
                            <input asp-for="Companyname" class="form-control text-upper" />
                            <span asp-validation-for="Companyname" class="fg-red text-small"></span>
                        </div>
                        <div id="firstname" class="form-group">
                            <label asp-for="InsuredFirstname" class="text-secondary">Firstname</label>
                            <input asp-for="InsuredFirstname" class="form-control" />
                            <span asp-validation-for="InsuredFirstname" class="fg-red text-small"></span>
                        </div>
                        <div id="lastname" class="form-group">
                            <label asp-for="InsuredLastname" class="text-secondary">Lastname</label>
                            <input asp-for="InsuredLastname" class="form-control" />
                            <span asp-validation-for="InsuredLastname" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="text-secondary">Mobile number</label>

                            <input data-role="keypad" asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="fg-red text-small"></span>
                        </div>

                        <div class="row">
                            <div class="cell-md-6">
                                <div class="form-group">
                                    <label asp-for="Identification" class="text-secondary">Form of Identification</label>
                                    <select class="text-secondary" asp-for="Identification" data-role="select">

                                        <option>National ID</option>
                                        <option>Driver's License</option>
                                        <option>International Passport</option>
                                        <option>Permanent Voters Card</option>

                                    </select>

                                    <span asp-validation-for="Identification" class="fg-red text-small"></span>
                                </div>
                            </div>
                            <div class="cell-md-6">
                                <div class="form-group">
                                    <label asp-for="IdNumber" class="text-secondary">Identification number</label>
                                    <input asp-for="IdNumber" class="form-control" />
                                    <span asp-validation-for="IdNumber" class="fg-red text-small"></span>
                                </div>
                            </div>

                        </div>




                        <div class="form-group">
                            <label asp-for="Occupation" class="text-secondary"></label>
                            <input asp-for="Occupation" class="form-control" />
                            <span asp-validation-for="Occupation" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="text-secondary"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="text-secondary"></label>
                            <select class="text-secondary" asp-for="Location" data-role="select">

                                <option> Abia State</option>
                                <option> Adamawa State</option>
                                <option>Akwa Ibom State</option>
                                <option>Anambra State</option>
                                <option>Bauchi State</option>
                                <option>Bayelsa State</option>
                                <option>Benue State</option>
                                <option>Borno State</option>
                                <option>Cross River State</option>
                                <option>Delta State</option>
                                <option>Ebonyi State</option>
                                <option>Edo State</option>
                                <option>Ekiti State</option>
                                <option>Enugu State</option>
                                <option>Gombe State</option>
                                <option>Imo State</option>
                                <option>Jigawa State</option>
                                <option>Kaduna State</option>
                                <option>Kano State</option>
                                <option>Katsina State</option>
                                <option>Kebbi State</option>
                                <option>Kogi State</option>
                                <option>Kwara State</option>
                                <option>Lagos State</option>
                                <option>Nasarawa State</option>
                                <option>Niger State</option>
                                <option>Ogun State</option>
                                <option>Ondo State</option>
                                <option>Osun State</option>
                                <option>Oyo State</option>
                                <option>Plateau State</option>
                                <option>Rivers State</option>
                                <option>Sokoto State</option>
                                <option>Taraba State</option>
                                <option>Yobe State</option>
                                <option>Zamfara State</option>
                                <option>Abuja</option>


                            </select>


                            <span asp-validation-for="Location" class="fg-red text-small"></span>
                        </div>
                    </div>

                </div>


            </div>
            <br />
            <div class="row">
                <div class="cell-md-8">
                    <div style="border-top:5px solid orange;" data-role="panel">
                        <p class="text-leader2">Your Vehicle Information</p>
                        <hr />

                        <partial name="MotorviewPartial" for="Motorpartialvm" />

                        <div class="form-group">
                            <label asp-for="RegisterationNumber" class="text-secondary">Registration number</label>
                            <input asp-for="RegisterationNumber" class="form-control" />
                            <span asp-validation-for="RegisterationNumber" class="fg-red text-small"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="EngineNumber" class="text-secondary">Engine number</label>
                            <input asp-for="EngineNumber" class="form-control" />
                            <span asp-validation-for="EngineNumber" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChasisNumber" class="text-secondary">Chasis number</label>
                            <input asp-for="ChasisNumber" class="form-control" />
                            <span asp-validation-for="ChasisNumber" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Colour" class="text-secondary">Colour</label>
                            <input asp-for="Colour" class="form-control" />
                            <span asp-validation-for="Colour" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category" class="text-secondary">Category</label>
                            <select class="text-secondary" asp-for="Category" data-role="select">
                                <option Value="5000">Private car</option>
                                <option Value="7500">Commercial vehicle</option>
                                <option Value="2500">Tricycle</option>
                                <option Value="1000">Motorcycle</option>
                            </select>
                            <span asp-validation-for="Category" class="fg-red text-small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Usage" class="text-secondary">Usage</label>
                            <select class="text-secondary" asp-for="Usage" data-role="select">
                                <option>Private</option>
                                <option>Commercial</option>
                            </select>
                            <span asp-validation-for="Usage" class="fg-red text-small"></span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group my-5">
                <input type="submit" value="Submit" class="button shadow-1 success" />
            </div>
        </div>
    </form>


</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


@section Scripts {

    <script>
        $(document).ready(function () {

            //hide company name first
            $("#companyname").hide();

            //if user picks coporate then hide firstname and lastname and show only company name
            $('#policyholder').on('change', function () {
                if (this.value == 'Corporate') {
                    $("#companyname").show();
                    $("#firstname").hide();
                    $("#lastname").hide();
                    $("#title").hide();
                }
                else {
                    $("#companyname").hide();
                    $("#firstname").show();
                    $("#lastname").show();
                    $("#title").show();
                }
            });
            //for vehicle section



        });
    </script>

    <script>
        $(document).ready(function () {
            $("#Other").hide();
            $('#VehicleMake').on('change', function () {
                if (this.value == 'OTHER') {
                    $("#Other").show();
                    $("#VehicleModel").hide();
                }
                else {
                    $("#Other").hide();
                    $("#VehicleModel").show();
                }
            });
        });
    </script>

    <script>
        $(function () {


            //Automaticllaay bind vehicle brand
            $('#VehicleMake').on('change', function () {
                var url = '@Url.Content("~/")' + "Policy/GetvehicleMakeBrand";
                var ddlsource = "#VehicleMake";

                $.getJSON(url, { vehiclemake: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#brand").empty();
                    $.each(data, function (i, row) {
                        items += "<option value='" + row.value + "'>" + row.text + "</option>";
                    });
                    $("#brand").html(items);
                });
            });
        });
    </script>

}

