﻿
@{
    ViewData["Title"] = "Previewinfo";
}
<br />
<br />
<br />
<div style="background:#fafafa;" class="container">
    <h2 class="py-2">Preview your Information and Proceed to payment</h2>
    <div data-role="stepper" data-steps="3" data-step="2"></div>
    <br />
    <p class="text-small py-4">Thank you for your interest in our insurance product. Please confirm that the details you supplied are correct and intended before proceeding to make payment.You can click on the previous button to go back and make changes where necessary. Note that a business account has been created for you and your user name and password which gives you exclusive access to your account has been mailed to the email address provided.You can access your account anytime to view your transaction details or to carry out further transactions.</p>


    <div class="grid">


        <div class="row">
            <div class="cell-md-12">
                <div style="border-top:5px solid orange;" data-role="panel">
                    <p class="">Personal Information</p>
                    <hr />

                    <table style="border-spacing: 10px;border-collapse: separate;" class="striped hovered">
                        <tr>
                            <td><span class="text-bold text-secondary">Username: </span></td>
                            <td><span class="text-secondary ">@ViewBag.username</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Email Address: </span></td>
                            <td><span class="text-secondary ">@ViewBag.email</span> </td>
                        </tr>


                        <tr>
                            @if (ViewBag.policyholder == "Private")
                            {

                                <td><span class="text-bold text-secondary">Fullname: </span></td>
                                <td><span class="text-secondary ">@ViewBag.fullname</span> </td>
                            }
                            else
                            {
                                <td><span class="text-bold text-secondary">Companyname: </span></td>
                                <td>@ViewBag.fullname</td>}
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Phone number: </span></td>
                            <td><span class="text-secondary">@ViewBag.phone</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Means of Identification: </span></td>
                            <td><span class="text-secondary">@ViewBag.identification</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Identification Number: </span></td>
                            <td><span class="text-secondary">@ViewBag.idno</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Occupation: </span></td>
                            <td><span class="text-secondary ">@ViewBag.occupation</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Residential Address: </span></td>
                            <td><span class="text-secondary ">@ViewBag.address</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Location: </span></td>
                            <td><span class="text-secondary ">@ViewBag.location</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Make: </span></td>
                            <td><span class="text-secondary ">@ViewBag.vehiclemake</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Model: </span></td>
                            <td><span class="text-secondary ">@ViewBag.vehiclemodel</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Year: </span></td>
                            <td><span class="text-secondary ">@ViewBag.vehicleyear</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Make: </span></td>
                            <td><span class="text-secondary ">@ViewBag.vehiclemake</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Registration Number: </span></td>
                            <td><span class="text-secondary ">@ViewBag.registrationnumber</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Chasis Number: </span></td>
                            <td><span class="text-secondary ">@ViewBag.chasisnumber</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Colour: </span></td>
                            <td><span class="text-secondary ">@ViewBag.colour</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Category: </span></td>
                            <td><span class="text-secondary ">@ViewBag.category</span> </td>
                        </tr>
                        <tr>
                            <td><span class="text-bold text-secondary">Vehicle Usage: </span></td>
                            <td><span class="text-secondary ">@ViewBag.usage</span> </td>
                        </tr>
                    </table>

                    <div class="form-group text-center my-4">
                        <input type="submit" value="Submit" class="button success" />

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

