﻿@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

.alert-purple {
    border-color: #694D9F;
    background: #694D9F;
    color: #fff;
}

.alert-info-alt {
    border-color: #B4E1E4;
    background: #81c7e1;
    color: #fff;
}

.alert-danger-alt {
    border-color: #B63E5A;
    background: #E26868;
    color: #fff;
}

.alert-warning-alt {
    border-color: #F3F3EB;
    background: #E9CEAC;
    color: #fff;
}

.alert-success-alt {
    border-color: #19B99A;
    background: #20A286;
    color: #fff;
}

.glyphicon {
    margin-right: 10px;
}

.alert a {
    color: gold;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}